@import url("https://fonts.googleapis.com/css2?family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #6dd5ed, #a43fed);
  font-family: "Poppins", sans-serif;
}

.card {
    background-color: white;
    width: 400px;
    padding: 40px;
    border-radius: 2px;
    text-align: center;
    position: relative;
}

.close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    color: rgb(53, 53, 53);
    cursor: pointer;
    font-weight: bold;
}

.close:hover {
    color: red;
}
h2 {
    margin-bottom: 25px;
    font-family: "Google Sans", sans-serif;
}

.inputs {
  text-align: left;
  margin-bottom: 10px;
}


input {
  width: 100%;
  padding: 10px;
  border: 1px solid gray;
}

input label {
  display: block;
  color: rgb(104, 104, 104);
  font-size: 16px;
  margin-bottom: 8px;
}

.link {
  display: block;
  text-align: left;
  color: #2774f1;
  text-decoration: none;
  font-size: 13px;
  margin-bottom: 25px;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  background: linear-gradient(to right, #6dd5ed, #a43fed);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

button:active{
    transform: scale(0.99);
}

p {
  margin-top: 20px;
  font-size: 13px;
}
p a {
  color: #2774f1;
  text-decoration: none;
}
